@import "compass/css3";


@font-face {
    font-family: 'arialnarrowbold';
    src: url('../fonts/arialnb-webfont.eot');
    src: url('../fonts/arialnb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialnb-webfont.woff') format('woff'),
         url('../fonts/arialnb-webfont.ttf') format('truetype'),
         url('../fonts/arialnb-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arialn-webfont.eot');
    src: url('../fonts/arialn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialn-webfont.woff') format('woff'),
         url('../fonts/arialn-webfont.ttf') format('truetype'),
         url('../fonts/arialn-webfont.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;

}


#leftcurve {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 10;
	display: none;

	.leftarctext {
		position: absolute;
		top: 0;
		left: 25%;
	}
}

header {

	text-align: right;

	.header {

		@media (max-width: 980px) {

			width: 100%;

		}

		@media (max-width: 550px) {

			display: none;

		}
		
	}

	.headersmall {
		display: none;

		@media (max-width: 550px) {

			display: block;

		}
	}

}



#mainmenu {
	z-index: 5;
	border: none;
	background: none;

	.navbar-nav {

		font-family: 'arialnarrowbold';

		@media (max-width: 767px) {

			margin: 0px -15px;

		}
	}

	.navbar-toggle {
		position: absolute;
		right: 0;
		top: 11px;
		z-index: 2000;
	}

	li {

		margin: 3px 3px 3px 0;

		@media (max-width: 767px) {

			margin: 3px 0 3px 0;

		}

		a {
			text-transform: uppercase;
		}


		&.menu-item-1 {
			a {
				background: #EDC45C;
			}

			ul.dropdown-menu li a:hover {
				color: #fff;
				background: #EDC45C;
			}
		}

		&.menu-item-2 a {
			background: #DC5A44;
		}

		&.menu-item-3 a {
			background: #C22227;
		}

		&.menu-item-4 a {
			background: #552537;
		}

		&.menu-item-5 a {
			background: #00A1B0;
		}

		&.menu-item-6 a {
			background: #9AB953;
		}

		ul {

			&.dropdown-menu {
				border: none;
				padding: 0;

				li {
					margin: 3px 0 0 0;

					a {
						background: #E5E5E5;
						color: #000;
						text-transform: inherit;
						font-family: 'arialnarrow';
					}

				}
			}
		}
	}

	.navbar-collapse {

		padding-right: 0;
		border: none;

		.navbar-right {
			.dropdown-menu {
				left: 0;
				right: auto;
			}
		}

		.navbar-right:last-child {
			margin-right: 0;
		}

		.navbar-form {
			background: #989898;
			margin: 3px 0 0 0;
			height: 30px;
			font-family: 'arialnarrow';
			padding: 0 5px 0 5px;
			font-size: 14px;

			@media (max-width: 980px) and (min-width: 767px) {
				position: absolute;
				top: 33px;
				right: 3px;
			}

			@media (max-width: 767px) {
				padding: 9px 15px;
				margin-top: -2px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-left: -15px;
				height: 52px;
			}

			.form-group {

				.form-control {
					height: 20px;
					margin: 5px 0 0 0;
					padding: 5px;
					font-size: 12px;
					@include border-radius(0);
					border: none;

					@media (max-width: 767px) {
						height: 34px;
						padding: 6px 12px;
						font-size: 14px;
						margin: 0;
					}
				}

				@media (max-width: 767px) {
					width: 40%;
					display: inline-block;
					margin-bottom: 0;
				}

			}

			.btn {
				display: none;

				@media (max-width: 767px) {
					display: inline-block;
					vertical-align: top;
					padding: 7px 12px;
					@include border-radius(0);
					border: none;
					margin-left: 3px;
				}
			}

		}

	}


	


}

body {
	padding-bottom: 20px;
}

.container {

	h1 {
		color: #EDC45B;
	}

	h2 {
		font-weight: 700;
	}






}


.bottomblocks {
	float: right;
	margin-top: 100px;
	margin-bottom: 20px;

	@media (max-width: 767px) {

		width: 100% !important;
		margin-top: 20px;

	}
}


@media (min-width: 1400px) {
  #leftcurve {
    display: block;
  }
}